<?php

/**
 * MctemplatesApi
 * PHP version 5
 *
 * @category Class
 * @package  MailchimpTransactional
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Mailchimp Transactional API
 *
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.3.0
 * Contact: apihelp@mailchimp.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 * Swagger Codegen version: 2.4.12
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace MailchimpTransactional\Api;

use MailchimpTransactional\ApiException;
use MailchimpTransactional\Configuration;
use MailchimpTransactional\HeaderSelector;
use MailchimpTransactional\ObjectSerializer;

/**
 * MctemplatesApi Class Doc Comment
 *
 * @category Class
 * @package  MailchimpTransactional
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class MctemplatesApi
{
    protected $config;

    public function __construct(?Configuration $config = null)
    {
        $this->config = $config ?: new Configuration();
    }

    /**
     * Get Mailchimp Template info
     * Get information about a Mailchimp Transactional template in your account.
     */
    public function mcTemplatesInfo($body = [])
    {
        return $this->config->post('/mctemplates/info', $body);
    }
    /**
     * List Mailchimp Transactional Templates
     * Return a list of all Mailchimp Transactional templates available to this user.
     */
    public function mcTemplatesList($body = [])
    {
        return $this->config->post('/mctemplates/list', $body);
    }
    /**
     * Render Mailchimp Transactional Template
     * Render a Mailchimp Transactional template with optional merge variables.
     */
    public function mcTemplatesRender($body = [])
    {
        return $this->config->post('/mctemplates/render', $body);
    }
    /**
     * Get Mailchimp Transactional Template Time Series
     * Return the recent history (hourly stats for the last 30 days) for a Mailchimp Transactional template. Returns an empty array if the template exists but has never been used to send messages.
     */
    public function mcTemplatesTimeSeries($body = [])
    {
        return $this->config->post('/mctemplates/time-series', $body);
    }
}
